{%extends 'post/base.html' %}
{%block title %}Welcome Back{%endblock%}
{% load crispy_forms_tags %}

{% block body %}
<div class="col-sm-6 col-sm-offset-3">
    <div class="row">

        <h1>{{ title }}</h1>
        <hr/>

        <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
           {{form|crispy}}

		   <input type="submit" class="btn btn-default" value="{{ title }}"/>
            </a>
        </form>
    </div>
</div>
{% endblock %}
