    {% extends 'post/base.html' %}
    {% load crispy_forms_tags %}

    {% block title %}Roote Detail{% endblock %}


{% block body %}
<div class="container" style="margin-top: 60px;">
    <h1>Welcome Adventurer</h1>
    <p>
        You can log in here!
    </p>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
