    {% extends 'post/base.html' %}
    {% load crispy_forms_tags %}


{% block title %}Roote Detail{% endblock %}


{% block body %}
<div class="container" style="margin-top: 60px;">
		<h1>Till Next Time Adventurer</h1>
</div>

{% endblock %}
