{% extends 'post/base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{%block body %}
<body>
<div class="roote-container container-fluid" style="margin-top: 60px;">
  <div class='row'>
    <div class="col-md-3">
      <h1>Welcome {{user}}</h1>
          {% if user.userprofile.image %}
            <img src="{{ user.userprofile.image.url }}" width="300px" height="300px" class="img-circle" style="border-radius: 50%; border-style: solid; border-width: 2px">
          {% endif %}
    </div>
    <div class="col-md-9" style="margin-top: 20%;">
      <p>{{user}}</p>
      <p>{{user.first_name}}</p>
      <p>{{user.last_name}}</p>
      <p>{{user.email}}</p>
      <p>description: {{user.userprofile.bio}}</p>
      <p>city: {{user.userprofile.city}}</p>
    </div>
  </div>
</div>
<hr>
<div class="col" style="width: 50%; margin: 0 auto;">
<div class="roote-container container-fluid">
    <div class="row">
        <ul>
            {% for obj in object_list %}
                 <div class= "col-sm-12; width: 100px;">
                    <div class="thumbnail" style="background-color: white;">
                        <!--Roote Photo-->
                        <a href="{% url 'post:detail' obj.id %}" >
                            <img src="{{ obj.roote_photo.url }}" class="img-responsive">
                        </a>
                        <h2>{{ obj.roote_name }}</h2>
                        <p>{{ obj.user }}</p>


                            <!-- Details-->
                          <a href="{% url 'post:detail' obj.id %}" class="btn btn-default">View</a>
                          <div class="col" align="right" style="margin-top: -30px">
                             <!--delete-->
                             <form action="{% url 'post:roote-delete' obj.id %}" method="post" style="display inline;">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{ obj.id }}"/>
                                <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                          </div>
                    </div>
                </div>
             {% endfor %}
        </ul>

    </div>
</div>

</div>

{% endblock%}

</div>
</body>
