{%extends 'post/base.html' %}
{% load crispy_forms_tags %}
{%block title %}Add a New Account{%endblock%}


{% block body %}
<div class="container-fluid" style="margin-top: 60px;">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Register</h1>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy}}
                       <button type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
