    {% extends 'post/base.html' %}
    {% load crispy_forms_tags %}
    {% block title %}Roote Detail{% endblock %}

{% block body %}
<div class="container" style="margin-top: 60px;">
    <h1>Enter new password</h1>
    <p>

    </p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Reset password</button>
    </form>
</div>
{% endblock %}
