    {% extends 'post/base.html' %}
    {% load crispy_forms_tags %}
    {% block title %}Roote Detail{% endblock %}

{% block body %}
<div class="container" style="margin-top: 60px;">
    <h1>Password reset</h1>
    <p>
        Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Reset password</button>
    </form>
</div>
{% endblock %}
