    {% extends 'post/base.html' %}
    {% load crispy_forms_tags %}
    {% block title %}Roote Detail{% endblock %}

{% block body %}
<div class="row">
        <div class="col-sm-6 col-sm-offset-4" style="margin-top: 60px;">
			<h1>Password Reset</h1>
      <p>
        We have emailed you instructions for setting your password, if an accounts
        exists with the email you entered. You should receive them shortly.

        if you dont receive an email, please make sre you've entered the address
        you registered with, and check your spam folder.
      </p>
		</div>

</div>
{% endblock %}
