<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Roote{% endblock %}</title>
    {% load staticfiles %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'post/style.css' %}" /> -->
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet" type='text/css' >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse" style="position: fixed; top: 0; width: 100%; z-index:50;">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'post:index' %}">Roote</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
          {%if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'post:index' %}">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;
                        Posts
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'accounts:view_profile' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                      Profile
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search" method="get" action=".">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
               <li class="">
                    <a href="{% url 'post:choice' %}">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;
                        Create
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'accounts:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Logout
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'accounts:edit_profile' %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                      Edit Profile
                    </a>
                </li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="">
                  <a href="{% url 'accounts:reset_password' %}">
                      <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;
                    Reset Password
                  </a>
              </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'post:index' %}">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;
                        Posts
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'accounts:register' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                        Create User
                    </a>
                </li>
              </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'accounts:login' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                        Log in
                    </a>
                </li>
              </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
{% block script %}
{% endblock script%}
</body>


</html>
