{% extends 'post/base.html' %}
{% block body %}
<div class="container-fluid" style="margin-top: 47px;">
	<div class="row">
		<div class="col-md-12">
			</div>
				<div class="col-sm-6 col-sm-offset-3">
					<div class="roote-container container-fluid">
						<div class="row">
							<div id="mycarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
									<a href="{% url 'post:location-add' %}">
										<img src="\static\post\images\location.jpg"  class="img-rounded  img-responsive">
										   <div class="carousel-caption">
											<h1>Location</h1>
										   </div>
									</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        				<div class="col-sm-6 col-sm-offset-3">
        					<div class="roote-container container-fluid">
        						<div class="row">
        							<div id="mycarousel" class="carousel slide" data-ride="carousel">
        								<div class="carousel-inner">
        									<div class="item active">
        									<a href="{% url 'post:roote-add' %}">
        										<img src="\static\post\images\roote.jpg" alt="foody"  class="img-rounded  img-responsive">
        										   <div class="carousel-caption">
        											<h1>Roote</h1>
        										   </div>
        									</a>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>

  </div>
</div>
{% endblock %}
