<html lang="en">
<<head>
{% extends 'post/base.html' %}
</head>

<body>
{% block body %}
<div class="col-md-6 offset-sm-">
    <div class="roote-container container-fluid">
		<h1>Home Rootes</h1>
        <div class="row">
            <ul>
                {% for obj in object_list %}
                <div class="col-md-12">
                    <div class="thumbnail">
                            <!--Roote Photo-->
                            <a href="{% url 'post:detail' obj.id %}" >
                                <img src="{{ obj.roote_photo.url }}" class="img-responsive">
                            </a>

                            <div class="caption">
                                <h2>{{ obj.roote_name }}</h2>
                                <p>{{ obj.user }}</p>

                                <!-- Details-->
                                <a href="{% url 'post:detail' obj.id %}"class="btn btn-primary">{{obj.roote_name}} rootes</a>

                                 <!--delete-->
                                 <form action="{% url 'post:roote-delete' obj.id %}" method="post" style="display inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ obj.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                 {% endfor %}
            </ul>

        </div>
</div>

{% endblock %}
</body>
</html>
