<!-- Loads the path to your static files -->
<!DOCTYPE html>
{% extends 'post/base.html' %}
{% block rootes_active %}active{% endblock %}

<head>
    {% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" style="margin-top: 30px;">
			<div class="jumbotron">
				<h2>
					Welcome Aventurer!
				</h2>
				<p>
				Roote the World!
				</p>
			</div>
				<div class="col-sm-6 col-sm-offset-3">
					<div class="roote-container container-fluid">
						<div class="row">
							<div id="mycarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
									<a href="{% url 'post:foody' %}">
										<img src="\static\post\images\food.jpg" alt="foody"  class="img-rounded  img-responsive">
										   <div class="carousel-caption">
											<h1>Foody</h1>
										   </div>
									</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-sm-offset-3">
					<div class="roote-container container-fluid">
						<div class="row">
							<div id="mycarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
									<a href="{% url 'post:urban' %}">
										<img src="\static\post\images\midtown.jpg" alt="urban"  class="img-rounded  img-responsive">
										   <div class="carousel-caption">
											<h1>Urban</h1>
										   </div>
									</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-sm-offset-3">
					<div class="roote-container container-fluid">
						<div class="row">
							<div id="mycarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
									<a href="{% url 'post:night' %}">
										<img src="\static\post\images\cool.jpg" alt="nightlife"  class="img-rounded  img-responsive">
										   <div class="carousel-caption">
											<h1>Nightlife</h1>
										   </div>
									</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-sm-offset-3">
					<div class="roote-container container-fluid">
						<div class="row">
							<div id="mycarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="item active">
									<a href="{% url 'post:outdoors' %}">
										<img src="\static\post\images\profile.jpg" alt="outdoors"  class="img-rounded  img-responsive">
										   <div class="carousel-caption">
											<h1>Outdoors</h1>
										   </div>
									</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

		</div>
    </div>
</div>

   {% endblock %}
</head>
<body>
</body>
</html>
