<html lang="en">
<<head>
{% extends 'post/base.html' %}
</head>

<body>
{% block body %}

<div class="col-sm-6 col-sm-offset-3" style="margin-top: 50px;">
    <div class="roote-container container-fluid">
		<h1>NightLife Rootes</h1>
        <div class="row">
                {% for post in all_post %}
                    <div class= "col-sm-12; width: 100px;">
                        <div class="thumbnail">

                            <!--Roote Photo-->
                            <a href="{% url 'post:detail' post.id %}" >
                                <img src="{{ post.roote_photo.url }}" class="img-responsive">
                            </a>

                            <div class="caption">
                                <h2>{{ post.roote_name }}</h2>
                                <p>{{ post.user }}</p>

                                <!-- Details-->
                                <a href="{% url 'post:detail' post.id %}"class="btn btn-default">View</a>

                                 <!--delete-->
                                 <div class="col" align="right" style="margin-top: -30px">
                                 <form action="{% url 'post:roote-delete' post.id %}" method="post" style="display inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value="{{ post.id }}"/>
                                    <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>
